

### Common options for all syncs

maxbackups     = 2
backuplocation = central
backupdir      = ZHOST/unisonbackups/
backup         = Name *
backupprefix   = DOOR_$VERSION_
times          = true
prefer         = newer
log            = true


##
##  remember to check for conflicts between Include and exclude list
##

###################
##    INCLUDE    ##
###################

####  Include by reference  ####

source include_system.list


# path = .Skype
# path = .SpaceVim
# path = .SpaceVim.d
# path = .blueproximity
# path = .cache/evolution
# path = .cdsapirc
# path = .config/Code/User
# path = .config/JOSM
# path = .config/JOSM_hgt2dsl_gr
# path = .config/Mendeley Ltd.
# path = .config/QLandkarte/QMapShack.conf
# path = .config/QLandkarte/QMapTool.conf
# path = .config/Recoll.org
# path = .config/Skype
# path = .config/awesome
# path = .config/bspwm
# path = .config/caja
# path = .config/caja-pyextensions
# path = .config/calibre
# path = .config/codeblocks
# path = .config/dunst
# path = .config/evolution/addressbook
# path = .config/evolution/calendar
# path = .config/evolution/mail/filters.xml
# path = .config/evolution/mail/searches.xml
# path = .config/evolution/mail/send-overrides.ini
# path = .config/evolution/mail/sortorder.ini
# path = .config/evolution/mail/vfolders.xml
# path = .config/evolution/memos
# path = .config/evolution/signatures
# path = .config/evolution/sources
# path = .config/evolution/tasks
# path = .config/geany
# path = .config/ghostwriter
# path = .config/git
# path = .config/goldencheetah.org
# path = .config/gtk-2.0
# path = .config/gtk-3.0
# path = .config/gtkrc
# path = .config/gtkrc-2.0
# path = .config/katerc
# path = .config/kateschemarc
# path = .config/katesyntaxhighlightingrc
# path = .config/katevirc
# path = .config/klavaro
# path = .config/latte
# path = .config/libreoffice/4/user/wordbook/standard.dic
# path = .config/lxsession/LXDE
# path = .config/morc_menu
# path = .config/mpv
path = .config/obsidian
# path = .config/polybar
# path = .config/qalculate
# path = .config/qt5ct
# path = .config/qutebrowser
# path = .config/rkwardrc
# path = .config/rofi
# path = .config/rstudio
# path = .config/spyder
# path = .config/spyder-py3
# path = .config/sxhkd
# path = .config/texstudio
# path = .config/texstudio/texstudioel_GR.ign
# path = .config/texstudio/texstudioen_US.ign
# path = .config/todo.sh
# path = .config/user-dirs.dirs
# path = .config/user-dirs.locale
# path = .config/volumeicon
# path = .config/zathura
# path = .config/zim
# path = .ecmwfapirc
# path = .gcalclirc
# path = .git-credentials
path = .global_hist
# path = .gnupg
# path = .gtkrc-2.0
# path = .hist_blue
# path = .hist_crane
# path = .hist_green
# path = .hist_kostas
# path = .hist_lite
# path = .hist_sagan
# path = .hist_tyler
# path = .hist_yperos
path = .hist_door
path = .histfile
# path = .i3
# path = .i3status.conf
# path = .icons/default/index.theme
# path = .instaloader
# path = .java/.userPrefs
# path = .kcollectd
# path = .kde/share/apps/kate
# path = .kde/share/apps/kate/plugins
# path = .kde/share/apps/kile
# path = .kde/share/apps/konqueror
# path = .kde/share/apps/ktouch
# path = .kde/share/apps/okular
# path = .kde/share/apps/rkward
# path = .kde/share/config/kilerc
# path = .kde/share/config/konquerorrc
# path = .kde/share/config/ktouchrc
# path = .languagetool.cfg
# path = .local/share/akregator
# path = .local/share/caja-python
# path = .local/share/file-manager
# path = .local/share/keyrings
# path = .local/share/kxmlgui5/akregator
# path = .local/share/lf/marks
# path = .local/share/qalculate
# path = .local/share/zathura
# path = .local/share/zeitgeist
# path = .local/share/zim
# path = .mydict
# path = .oh-my-zsh
# path = .pandoc
# path = .recently-used
# path = .recoll
# path = .rednotebook
# path = .rkward
# path = .spyder2
# path = .ssh/config
# path = .subversion
# path = .zotero
# path = Aerosols
path = BASH
# path = CHP_1_DIR
# path = CM_21_GLB
path = CODE
# path = DATA/Aeronet
# path = DATA/Broad_Band
# path = DATA/CHP1_LAP.DIR
# path = DATA/Common_application
# path = DATA/SOUNDINGS
# path = DATA/SUN
# path = DATA/WEATHER
# path = DATA/cm21_data_validation
# path = DATA_RAW/Aeronet
# path = DATA_RAW/Bband
# path = DATA_RAW/Raddata
# path = DATA_RAW/SUN
# path = DATA_RAW/tracker_chp1
# path = DATA_RAW/uwyo
# path = Documents
# path = Ecotime_machine
# path = FUNCTIONS
# path = Formal
# path = FreeCAD
# path = GISdata
# path = Improved_Aerosols_O3
# path = LIBRARY
# path = LOGs
# path = LibRadTranG
# path = LibRadTranM
# path = LifeAsti
# path = PANDOC
path = PROGRAMS
# path = PROJECTS/2017 AmyBear
# path = PROJECTS/UVindex
# path = PROJECTS/UVindex_Production
# path = PROJECTS/WeatherApp
# path = PROJECTS/wunderground_collector
# path = PROJECTS/Προτάσεις
# path = PYTHON2
# path = PYTHON3
# path = Pictures/.digikam/digikam4.db
# path = RAD_QC
# path = TRAIN
# path = SUN
# path = TSI



###################
##    EXCLUDE    ##
###################

###  Exclude patterns  ####

source exclude_patterns.list

###  Exclude by reference  ####

ignore = Path {.FontForge}
ignore = Path {.GMapCatcher}
ignore = Path {.ICEauthority}
ignore = Path {.PlayOnLinux}
ignore = Path {.RLPlot}
ignore = Path {.Rd2pdf15381}
ignore = Path {.Rd2pdf29235}
ignore = Path {.Rd2pdf7348}
ignore = Path {.Rhistory}
ignore = Path {.SourceGear DiffMerge}
ignore = Path {.Trash-1000}
ignore = Path {.ViberPC}
ignore = Path {.VirtualBox}
ignore = Path {.Xauthority-c}
ignore = Path {.Xauthority}
ignore = Path {.adobe}
ignore = Path {.advene}
ignore = Path {.alsaplayer}
ignore = Path {.aptitude}
ignore = Path {.astropy}
ignore = Path {.audacity-data}
ignore = Path {.bash_history}
ignore = Path {.bluefish}
ignore = Path {.bogofilter}
ignore = Path {.byobu/.ssh-agent}
ignore = Path {.cache/evolution/CacheStorage}
ignore = Path {.cache/evolution/WebKitCache}
ignore = Path {.cache/evolution/addressbook}
ignore = Path {.cache/evolution/calendar}
ignore = Path {.cache/evolution/http}
ignore = Path {.cache/evolution/mail}
ignore = Path {.cache/evolution/rss}
ignore = Path {.cache/evolution/tasks}
ignore = Path {.cache/evolution/tmp}
ignore = Path {.cache/thunderbird}
ignore = Path {.cache}
ignore = Path {.chirp}
ignore = Path {.config/.isolated-storage}
ignore = Path {.config/Barracuda Networks\, Inc.}
ignore = Path {.config/BitDefender-scanner}
ignore = Path {.config/Clementine}
ignore = Path {.config/Code Industry}
ignore = Path {.config/Empathy}
ignore = Path {.config/FreeCAD}
ignore = Path {.config/Fritzing}
ignore = Path {.config/GPSBabel}
ignore = Path {.config/Google/GoogleEarthPlus.conf}
ignore = Path {.config/Google}
ignore = Path {.config/Hardcoded Software}
ignore = Path {.config/LyX}
ignore = Path {.config/Merkaartor}
ignore = Path {.config/ProIndependent}
ignore = Path {.config/QGIS}
ignore = Path {.config/QLandkarteGT}
ignore = Path {.config/QLandkarte}
ignore = Path {.config/QtProject.conf}
ignore = Path {.config/Qtrac Ltd.}
ignore = Path {.config/RStudio/desktop.ini}
ignore = Path {.config/Rodeo}
ignore = Path {.config/R}
ignore = Path {.config/Skype}
ignore = Path {.config/Synergy/Synergy.conf}
ignore = Path {.config/Synergy}
ignore = Path {.config/Trolltech.conf}
ignore = Path {.config/Unknown Organization}
ignore = Path {.config/ViTables}
ignore = Path {.config/VirtualBox/VBoxSVC.log}
ignore = Path {.config/VirtualBox}
ignore = Path {.config/anjuta}
ignore = Path {.config/astropy}
ignore = Path {.config/autostart/gnome-encfs-manager.desktop}
ignore = Path {.config/autostart/shutter.desktop}
ignore = Path {.config/autostart/skype.desktop}
ignore = Path {.config/backintime}
ignore = Path {.config/banshee-1}
ignore = Path {.config/blender}
ignore = Path {.config/bless}
ignore = Path {.config/brasero}
ignore = Path {.config/byobu}
ignore = Path {.config/caja/desktop-metadata*}
ignore = Path {.config/caja/desktop-metadata}
ignore = Path {.config/chromium}
ignore = Path {.config/clipit}
ignore = Path {.config/comix}
ignore = Path {.config/dconf/user}
ignore = Path {.config/dconf}
ignore = Path {.config/deluge}
ignore = Path {.config/diffuse}
ignore = Path {.config/eog}
ignore = Path {.config/evince}
ignore = Path {.config/exaile}
ignore = Path {.config/filezilla}
ignore = Path {.config/font-manager}
ignore = Path {.config/fontconfig}
ignore = Path {.config/fontgroups.xml}
ignore = Path {.config/freerdp}
ignore = Path {.config/galculator}
ignore = Path {.config/geany/geany_socket_*}
ignore = Path {.config/geogebra}
ignore = Path {.config/glogg}
ignore = Path {.config/gnome-mplayer}
ignore = Path {.config/gnome-session}
ignore = Path {.config/google-chrome}
ignore = Path {.config/google-googletalkplugin}
ignore = Path {.config/gpicview}
ignore = Path {.config/gthumb}
ignore = Path {.config/guvcview2}
ignore = Path {.config/icedtea-web}
ignore = Path {.config/inkscape}
ignore = Path {.config/keepnote}
ignore = Path {.config/kmailsearchindexingrc}
ignore = Path {.config/kontact_summaryrc}
ignore = Path {.config/kontactrc}
ignore = Path {.config/latte/config}
ignore = Path {.config/libfm}
ignore = Path {.config/libreoffice/4/user/autocorr}
ignore = Path {.config/libreoffice/4/user/autotext}
ignore = Path {.config/libreoffice/4/user/backup}
ignore = Path {.config/libreoffice/4/user/basic}
ignore = Path {.config/libreoffice/4/user/config}
ignore = Path {.config/libreoffice/4/user/database}
ignore = Path {.config/libreoffice/4/user/extensions}
ignore = Path {.config/libreoffice/4/user/gallery}
ignore = Path {.config/libreoffice/4/user/psprint}
ignore = Path {.config/libreoffice/4/user/registrymodifications.xcu}
ignore = Path {.config/libreoffice/4/user/temp}
ignore = Path {.config/libreoffice/4/user/uno_packages}
ignore = Path {.config/lxpanel}
ignore = Path {.config/mate-session}
ignore = Path {.config/mate}
ignore = Path {.config/menus}
ignore = Path {.config/mimeapps.list}
ignore = Path {.config/monitors.xml}
ignore = Path {.config/nautilus-actions}
ignore = Path {.config/nautilus-compare.conf}
ignore = Path {.config/nautilus}
ignore = Path {.config/nemo}
ignore = Path {.config/openbox}
ignore = Path {.config/pitivi}
ignore = Path {.config/pluma}
ignore = Path {.config/pulse/cookie}
ignore = Path {.config/pulse}
ignore = Path {.config/rstudio/Cache}
ignore = Path {.config/rstudio/Code Cache}
ignore = Path {.config/rstudio/GPUCache}
ignore = Path {.config/sqlitebrowser}
ignore = Path {.config/syncthing}
ignore = Path {.config/syncthing_crane/index*}
ignore = Path {.config/syncthing_tyler/index*}
ignore = Path {.config/syncthing_sagan/index*}
ignore = Path {.config/tracker}
ignore = Path {.config/transmission-daemon}
ignore = Path {.config/transmission}
ignore = Path {.config/vlc}
ignore = Path {.config/xarchiver}
ignore = Path {.config/yelp}
ignore = Path {.cups}
ignore = Path {.dbus}
ignore = Path {.directory}
ignore = Path {.dmrc}
ignore = Path {.dropbox-dist}
ignore = Path {.dropbox}
ignore = Path {.ecryptfs}
ignore = Path {.fehbg}
ignore = Path {.filezilla}
ignore = Path {.fltk}
ignore = Path {.fontconfig}
ignore = Path {.fonts}
ignore = Path {.gconf}
ignore = Path {.gimp-2.8}
ignore = Path {.gnome2_private}
ignore = Path {.gnome2}
ignore = Path {.gnome}
ignore = Path {.gnupg}
ignore = Path {.googleearth}
ignore = Path {.googlemaps}
ignore = Path {.grid_mirror}
ignore = Path {.gstreamer-0.10}
ignore = Path {.guayadeque}
ignore = Path {.gvfs}
ignore = Path {.histfile}
ignore = Path {.hplip}
ignore = Path {.ibam}
ignore = Path {.icedove}
ignore = Path {.icons}
ignore = Path {.ipython}
ignore = Path {.java}
ignore = Path {.josm}
ignore = Path {.kde/cache-blue}
ignore = Path {.kde/cache-crane}
ignore = Path {.kde/cache-lite}
ignore = Path {.kde/share/apps/RecentDocuments}
ignore = Path {.kde/share/apps/activitymanager}
ignore = Path {.kde/share/apps/calligra}
ignore = Path {.kde/share/apps/digikam}
ignore = Path {.kde/share/apps/dolphin}
ignore = Path {.kde/share/apps/gwenview}
ignore = Path {.kde/share/apps/k3b}
ignore = Path {.kde/share/apps/kconf_update/log}
ignore = Path {.kde/share/apps/kcookiejar}
ignore = Path {.kde/share/apps/kfileplaces/bookmarks.xml.bak}
ignore = Path {.kde/share/apps/kfileplaces/bookmarks.xml}
ignore = Path {.kde/share/apps/kfileplaces/}
ignore = Path {.kde/share/apps/khtml}
ignore = Path {.kde/share/apps/kipi}
ignore = Path {.kde/share/apps/knewstuff3}
ignore = Path {.kde/share/apps/konqsidebartng}
ignore = Path {.kde/share/apps/konqueror}
ignore = Path {.kde/share/apps/krita}
ignore = Path {.kde/share/apps/kwallet}
ignore = Path {.kde/share/apps/libkface}
ignore = Path {.kde/share/apps/servicemenu-download}
ignore = Path {.kde/share/config/baloofilerc}
ignore = Path {.kde/share/config/digikamrc}
ignore = Path {.kde/share/config/dolphinrc}
ignore = Path {.kde/share/config/drkonqirc}
ignore = Path {.kde/share/config/gwenviewrc}
ignore = Path {.kde/share/config/kconf_updaterc}
ignore = Path {.kde/share/config/kdebugrc}
ignore = Path {.kde/share/config/kdeglobals}
ignore = Path {.kde/share/config/kwalletrc}
ignore = Path {.kde/share/config/phonondevicesrc}
ignore = Path {.kde/share/kde4/services/ServiceMenus}
ignore = Path {.kde/socket-blue}
ignore = Path {.kde/socket-crane}
ignore = Path {.kde/socket-green}
ignore = Path {.kde/socket-lite}
ignore = Path {.kde/tmp-blue}
ignore = Path {.kde/tmp-crane}
ignore = Path {.kde/tmp-green}
ignore = Path {.kde/tmp-lite}
ignore = Path {.lastpass}
ignore = Path {.lives-dir}
ignore = Path {.lives}
ignore = Path {.local/share/akonadi}
ignore = Path {.local/share/evolution/addressbook}
ignore = Path {.local/share/evolution/mail}
ignore = Path {.local/share/kmail2}
ignore = Path {.local/share/kontact}
ignore = Path {.local/share/kxmlgui5/kmail}
ignore = Path {.local/share/zeitgeist/fts.index}
ignore = Path {.local}
ignore = Path {.lyx}
ignore = Path {.macromedia}
ignore = Path {.matplotlib}
ignore = Path {.merkaartor}
ignore = Path {.mission-control}
ignore = Path {.mozilla}
ignore = Path {.mplayer2}
ignore = Path {.mytourbook/offline-map}
ignore = Path {.notify-osd}
ignore = Path {.openshot}
ignore = Path {.oracle_jre_usage}
ignore = Path {.pki}
ignore = Path {.psensor}
ignore = Path {.ptbt0}
ignore = Path {.pulse}
ignore = Path {.pycrust}
ignore = Path {.qalculate}
ignore = Path {.qgis2}
ignore = Path {.qtoctave}
ignore = Path {.quicksynergy}
ignore = Path {.rclone.conf}
ignore = Path {.recently-used}
ignore = Path {.recoll/mboxcache}
ignore = Path {.recoll/xapiandb}
ignore = Path {.rednotebook/rednotebook.log}
ignore = Path {.rstudio-desktop}
ignore = Path {.sane}
ignore = Path {.ssh}
ignore = Path {.stellarium}
ignore = Path {.subversion}
ignore = Path {.texmf-var}
ignore = Path {.themes}
ignore = Path {.thumbnails}
ignore = Path {.thunderbird}
ignore = Path {.update-notifier}
ignore = Path {.viking-maps}
ignore = Path {.viking}
ignore = Path {.vnc}
ignore = Path {.wicd}
ignore = Path {.wine64}
ignore = Path {.wine}
ignore = Path {.wireshark}
ignore = Path {.xnviewmp}
ignore = Path {.xnview}
ignore = Path {.xournal}
ignore = Path {.xrced}
ignore = Path {.xscreensaver}
ignore = Path {.xsession-errors.old}
ignore = Path {.xsession-errors}
ignore = Path {.zotero/zotero/u6vje8ly.default/zotero/pipes}
ignore = Path {Aerosols/RAerosols/RAerosols.Rcheck}
ignore = Path {Aerosols/RlibRadtran/RlibRadtran.Rcheck}
ignore = Path {CM_21_GLB/REPORTS/RUNTIME}
ignore = Path {Desktop}
ignore = Path {Documents/Docu}
ignore = Path {Documents/Hardcopies Archived.9.tar.xz}
ignore = Path {Documents/History.9.tar.xz}
ignore = Path {Documents/Running/Polar/Athan/Rplots.pdf}
ignore = Path {Ecotime_machine/Repo}
ignore = Path {GISdata/GYS_50000}
ignore = Path {GISdata/gdalwmscache}
ignore = Path {LIBRARY/.Trash-1000}
ignore = Path {LIBRARY/.Trash}
ignore = Path {LIBRARY/COMIX}
ignore = Path {LIBRARY/MPA}
ignore = Path {LIBRARY/OUTDOOR}
ignore = Path {LIBRARY/_data}
ignore = Path {LIBRARY/ΕΚΠΑΙΔΕΥΤΙΚΑ}
ignore = Path {LIBRARY/ΕΡΓΑΣΙΕΣ}
ignore = Path {LIBRARY/ΛΟΓΟΤΕΧΝΙΑ}
ignore = Path {LIBRARY/ΠΕΡΙΟΔΙΚΑ}
ignore = Path {LIBRARY/ΣΧΟΛΙΚΑ}
ignore = Path {LibRadTranG/improved_aerosols_red_LAP/DATA/job_list_ff_local}
ignore = Path {LibRadTranM/clear_atm_LAP/DATA/ARCHIVED}
ignore = Path {LibRadTranM/clear_atm_LAP/condorlog}
ignore = Path {LifeAsti/DATA/repo5}
ignore = Path {LifeAsti/DATA/repo6}
ignore = Path {Notes/zim/.git}
ignore = Path {PROGRAMS/opam}
ignore = Path {PYTHON2/.git}
ignore = Path {PYTHON3/.git}
ignore = Path {Pictures/.digikam/thumbnails-digikam.db}
ignore = Path {Pictures/ns}
ignore = Path {Pictures/other2}
ignore = Path {Pictures/other3}
ignore = Path {Pictures/other}
ignore = Path {R}
ignore = Path {Stellarium}
ignore = Path {TEACHING}
ignore = Path {TEX/.git}
ignore = Path {TRAIN/GoldenCheetah/Athan/cache}
ignore = Path {TRAIN/GoldenCheetah/Athan/temp}
ignore = Path {TRAIN/GoldenCheetah/Athan_tesi/cache}
ignore = Path {TRAIN/GoldenCheetah/Athan_tesi/temp}
ignore = Path {UVindex_prod/.git}
ignore = Path {UVindex_prod/MODIS/AOD}
ignore = Path {UVindex_prod/MODIS/Angstrom_old_format}
ignore = Path {UVindex_prod/MODIS/Angstrom}
ignore = Path {UVindex_prod/MODIS/MOD08_M3}
ignore = Path {UVindex_prod/MODIS/MYD08_M3}
ignore = Path {UVindex_prod/MODIS/output}
ignore = Path {UVindex_prod/MODIS}
ignore = Path {UVindex_prod/O3_ncep}
ignore = Path {UVindex_prod/UOA}
ignore = Path {ViberDownloads}
ignore = Path {ZHOST}
ignore = Path {gPodder}
ignore = Path {gdalwmscache}
ignore = Path {nohup.out}
ignore = Path {unison.log}


# keep this last
path = Regex {.*,*}


